.papper {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: #95a5a6;
    top: 0;
    left: 0;
}
.container-count {
  width: 15%;
  background-color: #2c3e50;
  display: inline-block;
  position: fixed;
  padding: 50px 5%;
  left: 35%;
  top: 31%;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}
.container-number {
  display: inline-block;
  position: relative;
  width: 45%;
}
#number-left {
  margin-right: 5%;
}
.container-top {
  display: block;
  position: relative;
  height: 50px;
}
.container-bottom {
  display: block;
  position: relative;
  height: 50px;
}
.a, .b, .c, .d, .e, .f, .g {
  border-radius: 100px;
  background-color: #e74c3c;
  /* transition: all 0.3s ease-in; */
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.horizontal {
  width: 90%;
  height: 12px;
}
.vertical {
  width: 12px;
  height: 100%;
}
.a {
}
.b {
  float: right;
}
.c {
  float: right;
}
.d {
}
.e {
  float: left;
}
.f {
  float: left;
}
.g {
  width: 80%;
}
.on {
  opacity: 1;
}
.off {
  opacity: 0.3;
}
/* .green { background-color: #2ecc71; }
.yellow { background-color: #f1c40f; }
.red { background-color: #c0392b; }
.standby { background-color: #d35400; } */
.green { background-color: #00ff6c; }
.yellow { background-color: #ffcc00; }
.red { background-color: #ff1800; }
.standby { background-color: #d35400; }

.btn-restart {
  position: fixed;
  display: flex;
  left: 5%;
  top: 80%;
  height: 100px;
  width: 100px;
  z-index: 100;
  border: none;
  text-align: center;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  opacity: 0.7;
  transition: all 0.5s;
}
#intermitente {
  position: fixed;
  display: flex;
  left: 70%;
  top: 80%;
  height: 100px;
  width: 100px;
  z-index: 100;
  border: none;
  text-align: center;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  opacity: 0.7;
  transition: all 0.5s;
}

.btn-play {
  position: fixed;
  display: flex;
  left: 85%;
  top: 80%;
  height: 100px;
  width: 100px;
  z-index: 100;
  border: none;
  text-align: center;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  opacity: 0.7;
  transition: all 0.5s;
}
.btn-play:hover,
.btn-restart:hover,
#intermitente {
  color: white;
  transition: linear all 0.3s;
  opacity: 1;
}
.btn-play:active,
.btn-restart:active,
#intermitente:active{
  background-color: #3e8e41;
  /*box-shadow: 0 5px #666;*/
  box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.75);
  transform: translateY(4px);
}
.btn-play i {
  position: absolute;
  left: 35px;
  top: 25px;
}
.btn-restart i {
  position: absolute;
  left: 31px;
  top: 25px;
}
#intermitente i {
  position: absolute;
  left: 18px;
  top: 12px;
}