.semaforo {
  background-color: #2c3e50;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}
.semaforo-vertical {
    width: 150px;
    height: 300px;
}
.semaforo-horizontal {
    width: 300px;
    height: 150px;
}
#semaforo-izquierdo {
  position: absolute;
  display: block;
  top: 10%;
  left: 10%;
}
#semaforo-arriba {
  position: absolute;
  display: block;
  top: 5%;
  left: 50%;
}
#semaforo-derecho {
  position: absolute;
  display: block;
  top: 40%;
  left: 70%;
}
#semaforo-abajo {
  position: absolute;
  display: block;
  top: 70%;
  left: 15%;
}



.circle {
  height: 70px;
  width: 70px;
  display: block;
  position: relative;
  border-radius: 100%;
  opacity: 0.5;
}
.semaforo-horizontal .circle {
  display: inline-block;
  margin-top: 40px;
  margin-left: 20px;
}

.semaforo-vertical .circle {
  display: block;
  margin-top: 25px;
  margin-left: 40px;
}